// Переменные
@import './variable.scss';

// Локальные шрифты
@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1265px;
    margin: 0 auto;
    padding: 0 10px;
}

main {
    height: calc(100vh - 590px);
}