:root {
    --main-color: #EEF3FF;
    --color-primary: #c0c0c0;
    --background-color: #31323F;
    --background-primary: #252631;
    --filter-btn: #2B2D3A;
    --filter-btn-hover: #3D3E4D;
    --btn-color: #2D76F9;
    --btn-hover: #125eeb;
}